<div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a routerLink="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">List Of Products</strong></div>
      </div>
    </div>
  </div>  
  
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="h3 mb-3 text-black text-center">List Of Products</h2>
          <a class="btn btn-primary" routerLink="/product-form">Add Product</a>
          <br /><br />
        </div>
        <div class="col-md-12">
          <table class="table">
            <tr>
              <th>Image</th>
              <th>Title</th>
              <th>Price</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="let product of products">
              <td><img src="{{ product.imageUrl }}" alt="" style="width: 150px;"/></td>
              <td>{{ product.title }}</td>
              <td>{{ product.price }}</td>
              <td>
                <a class="btn btn-primary" [routerLink]="['/product-form', product.key]">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-danger" href="javascript:;" (click)="deleteProduct(product.key)">Delete</a>
              </td>
            </tr>
          </table>
        
        </div>
      </div>
    </div>
  </div>
  