<footer class="site-footer border-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mb-5 mb-lg-0">
        <div class="row">
          <div class="col-md-6 col-lg-6">
              <h3 class="footer-heading mb-4">Navigations</h3>
            <ul class="list-unstyled">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-6">
              <h3 class="footer-heading mb-4">Useful Links</h3>
            <ul class="list-unstyled">
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Delivery & Returns</a></li>
                <li><a href="#">FAQs</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="block-5 mb-5">
          <h3 class="footer-heading mb-4">Contact Info</h3>
          <ul class="list-unstyled">
            <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
            <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
            <li class="email">emailaddress@domain.com</li>
          </ul>
        </div>
  
        
      </div>
    </div>
  </div>
  </footer>