<div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a routerLink="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">My Orders</strong></div>
      </div>
    </div>
  </div>  
  
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="h3 mb-3 text-black text-center">My Orders</h2>
        </div>
        <div class="col-md-12">
          <table class="table">
            <thead>
                <tr>
                    <th>Date of Order</th>
                    <th>Shipping Address</th>
                  </tr>
            </thead>
            <tbody *ngIf="order$ | async as orders; else noorders">
                <tr *ngFor="let order of orders">
                  <td>{{ order.dateCreated | date }}</td>
                  <td>{{ order.shipping.address }}</td>
                </tr>
            </tbody>
            <ng-template #noorders>
                <tbody>
                    <tr>
                      <td class="text-center" colspan="2">No orders found.</td>
                    </tr>
                </tbody>
            </ng-template>
            
          </table>
        
        </div>
      </div>
    </div>
  </div>
  